.u-section-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/LSAbannerimage.png");
    background-position: 50% 50%;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 902px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    text-shadow: 2px 2px 8px rgba(66,84,101,0.4);
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
    margin: 205px 70px 0;
  }
  
  .u-section-1 .u-text-2 {
    letter-spacing: 0px;
    line-height: 1.4;
    font-size: 1.5rem;
    font-family: Lato, sans-serif;
    font-weight: 400;
    text-transform: none;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    width: 714px;
    margin: 30px auto 0;
  }
  
  .u-section-1 .u-form-1 {
    height: 71px;
    width: 704px;
    margin: 52px auto 0;
  }
  
  .u-section-1 .u-form-group-1 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-1 {
    font-weight: 700;
    font-size: 1rem;
  }
  
  .u-section-1 .u-btn-1 {
    letter-spacing: 1px;
    border-style: solid;
    background-image: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875rem;
    width: 100%;
    padding: 11px 31px 12px 29px;
  }
  
  .u-section-1 .u-btn-2 {
    border-style: none;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin: 0 auto 0 237px;
    padding: 0;
  }
  
  .u-section-1 .u-text-3 {
    font-size: 1rem;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    letter-spacing: 3px;
    width: 714px;
    margin: 206px auto 0;
  }
  
  .u-section-1 .u-btn-3 {
    border-style: none;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin: 27px 481px 0 auto;
    padding: 0;
  }
  
  .u-section-1 .u-social-icons-1 {
    white-space: nowrap;
    height: 32px;
    min-height: 16px;
    width: 116px;
    min-width: 68px;
    margin: -32px auto 60px 454px;
  }
  
  .u-section-1 .u-icon-3 {
    height: 100%;
  }
  
  .u-section-1 .u-icon-4 {
    height: 100%;
  }
  
  .u-section-1 .u-icon-5 {
    height: 100%;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 744px;
    }
  
    .u-section-1 .u-text-1 {
      width: 861px;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-btn-2 {
      margin-left: 37px;
    }
  
    .u-section-1 .u-btn-3 {
      margin-right: 281px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 570px;
    }
  
    .u-section-1 .u-text-1 {
      width: 720px;
    }
  
    .u-section-1 .u-btn-2 {
      margin-left: 0;
    }
  
    .u-section-1 .u-btn-3 {
      margin-right: 61px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 399px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 3.4375rem;
      width: 540px;
    }
  
    .u-section-1 .u-text-2 {
      width: 540px;
    }
  
    .u-section-1 .u-form-1 {
      width: 540px;
      margin-top: -8px;
    }
  
    .u-section-1 .u-btn-2 {
      margin-top: -8px;
    }
  
    .u-section-1 .u-text-3 {
      width: auto;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-btn-3 {
      margin-right: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 206px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 2.125rem;
      width: 340px;
    }
  
    .u-section-1 .u-text-2 {
      width: 340px;
    }
  
    .u-section-1 .u-form-1 {
      width: 340px;
    }
  }
  